/*CSS Reset*/
/*a way for the devs to remove any pre-defined margins and paddings set by the browser. This is to have less hassle in managing space that will be used for the layout of the webpage*/
*{
	margin: 0;
	padding: 0;
}


/*using Google Font "Open Sans" for styling the body texts*/
body{
	font-family: "Open Sans", sans-serif;
}

/* NAV SECTION */

nav{
	/*
	padding - the space between the content of the element and its border.

	padding is a shorthand for padding-top, padding-bottom, padding-left, amd padding-right
		padding-top: .8rem;
		padding-bottom: .8rem;
		padding-left: .8rem;
		padding-reight: .8rem;
	*/
	padding: .8rem;
	/*margin - space between the elements and outside the borders*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}
/*
	if you want to increase/decrease the space of the content of the border, manage the padding

	if you want to manage the spacing in between the elements, increase/decrease the margin of the elements
*/

/*
	we can also select combination selectors with the use of comma
*/
nav .nav,nav .nav-logo{
	/*creates space around the element but outside its border*/
	margin: .5rem;
	/*
		li are naturally block elements but with the use of display: inline;, we are able to transform the li elements to become inline so that they will be displayed beside each other.
	*/
	display: inline
}

/* INFO SECTION */

/*
	when we have different measurements for each side, the measurement for each side can be used(padding-left, padding-right, padding-top, padding-bottom).
*/

#intro{
	/*% value is used for the padding/margin to use the relative measurements of the screen of the user*/
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	/*shorthand for padding with the same right and left measurement*/
	/*padding: 2rem 10% 3rem;*/
	/*4 values for the shorthand would be clockwise direction starting from the top (t r b l direction)*/
	/*padding: 2rem 10% 15% 3rem;*/
	text-align: center;
}

.header{
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	/*font-weight - used to change the thickness of the text of the element*/
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	/*to create space to make the button bigger and to make the content "Apply Now" more noticeable*/
	padding: 1rem;
}
/* SUCCEED INFO */
#succeed-info{
	/*using shorthand for the same measurement as the intro*/
	padding: 2rem 10% 3rem;
}


#succeed-info h2{
	/*to create space between the header and the card*/
	margin-bottom: 1rem;
}


#succeed-info h3{
	text-align: center;
	/*creates space between the h3 and the p element in each card*/
	margin-bottom: 1rem;
}

#succeed-info .card{
	/*allows the cards to appear next to each other*/
	/*
		inline - consuming only the content width of the element
		block - consuming the full widthe of the webpage regardless of the content width

		works as inline for its siblings, but works as block elements outside its parent element
	*/
	display: inline-block;
	/*align the elements at the top of their container*/
	vertical-align: top;
	/*set the minimum height in case the content does not fit the card*/
	min-height: 175px;
	/*each card will only use 30% of the screen size*/
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
}

/*FOOTER SECTION*/
footer{
	padding: .7rem;
}

footer span{
	margin-left: .5rem;
	margin-right: .5rem;
	/*shorthand: margin: 0 .5rem*/
}